html {
    -webkit-text-size-adjust: 100%;
    }


    body {
        background-color: black;
        font-family: serif;
    }

    .frame {
        display: block;
        text-align: center;
        background-image: url("https://img.poipiku.com/user_img03/003505532/007919508_015839807_OkWvIcca0.jpeg_640.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 40px;

    }

    .img {
        display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        width: 20%;
        height: 20%;
    }


    a {
        color: inherit;
        text-decoration: none;
    }

    h1 {
        text-align: center;
        color: white;
        font-size: 25px;
    }

    p {
        padding: 20px;
    }

    .name {
        font-size: 20px;
        color: black;
        text-align: right;
        padding-right: 30px;
        padding-left: 30px;
    }
